.unnum {
  position: relative;
  margin-top: 20px;
}

.copy_btn {
  display: inline-block;
  position: absolute;
  margin-left: 10px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.unnum::after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 10px; /* Длина псевдоэлемента равна отступу между заголовком и кнопкой */
  height: 100%;
  pointer-events: auto;
}

.copy_btn>g, .copy_btn>g>g, .copy_btn>path {
  fill: #222B55B8;
}

.copy_btn:hover>g, .copy_btn:hover>g>g, .copy_btn:hover>path {
  fill: #222B55;
}

.copy_btn:active>g, .copy_btn:active>g>g, .copy_btn:active>path {
  fill: #7B829A;
}

.check_icon {
  display: inline-block;
  position: absolute;
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

.cls-1 {
  stroke: #222B55;
}

.hidden {
  display: none;
}
